body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: crimson;
}

.content{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: fit-content;
    height: 100vh;

    font-size: 80px;
    color: white;
}