th, td {
    border: 1px solid rgb(78, 51, 153);
    margin: 10px;
    text-align: center;
}

.container{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

fieldset{
    max-height: 150px;
}

.table_c, fieldset{
    width: 40%;
}